*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header           */
.container {
    max-width: 1280;
    width: 100%;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 100px;
    background: #021F54;
}
.header-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.logo{
    margin: 30px;
    display: grid;
    grid-template-columns: 140px 1fr;
}
.header h1{
    font-family: Roboto;
    font-size: 36px;
    color: #FFB800;
}
.header h2{
    font-family: Roboto;
    font-size: 36px;   
    color: #FFFFFF;
}
/*#######################################################################*/




.Search{
    display: grid;
    grid-template-columns: 500px 1fr;
}
.searctext{
    margin: 30px;
    width: 500px;
    height: 50px;
}
.bntSearch{
    margin: 30px;
    height: 50px;
    width: 50px;
    background: #D68227;
    border: none;
}
.bntSearch i{
    margin: 6px;
    color: white;
    width: 30px;
    height: 40px;
    font-size: 30px;
}
.MenuProfile{
    position: relative;
    display: list-item;
    justify-items: right;
    border: none;
}
.Menu-ฺband{
    position: relative;
    margin-left: 30px;
}
.dropdown-menuBand{
    margin-left: -30px;
    margin-top: -25px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0, 0,0.2);
}
.dropdown-menuBand a{
    color: #021F54;
    padding: 1px 1px;
    text-decoration: none;
    display: block;
}
.dropdown-menuBand a:hover{
    background-color: #021F54;
    color: white;
}
.Menu-ฺband:hover .dropdown-menuBand{
    display: block;
}
.navMenu{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
}
.navMenu a{
    color: #021F54;
    text-decoration: none;
    display: block;
}
.navMenu a:hover{
    color:#E1A35F;
    
}
.btnprofile{
    margin: 30px;
    height: 50px;
    width: 300px;
    background: #021F54;
    border: none;
    color: white;

}
.btnprofile i{
    color: white;
    font-size: 40px;
    border: none;
}
.dropdown-menuprofile{
    margin-top: -30px;
    margin-left: 70px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0, 0,0.2);
}
.dropdown-menuprofile a{
    color: black;
    padding: 2px 2px;
    text-decoration: none;
    display: block;
}
.dropdown-menuprofile a:hover{
    background-color: #021F54;
    color: white;
}
.MenuProfile:hover .dropdown-menuprofile{
    display: block;
}
.Nav{
    width: 100%;
    height: 30px;
}
.nav-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.Rnav{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: right;
}
.Rnav a{
    color: #021F54;
    text-decoration: none;
}
.Rnav a:hover{
    color:white;
    background-color: #E1A35F;
    border-radius: 4px;
}
.lineNav{
    width: 100%;
    height: 1px;
    background: #021F54; 
}

.Search-tetle-Map{
    font-size: 24px;
    color:  #021F54;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    margin-top: 50px;
}
.AdvanceSearch{
    display: grid;
    grid-template-columns: repeat(5,1fr);  
    justify-items: center;
    margin: 30px;
}
.Search-item-map{
    display: grid;
    grid-template-columns: 360px 1fr;
}
.text-item-map{
    width: 360px;
    height: 40px;
    color: #021F54;
}
.bntSearch-map{
    height: 40px;
    width: 50px;
    background: #D68227; 
    border: none;
}
.bntSearch-map i{
    color: white;
    width: 40px;
    height: 30px;
    font-size: 30px;
    border: none;
}
.Search-position-map{
    height: 30px;
    width: 250px;
    margin-left: 15px;
    border-radius: 3px;
}
.drowdown-position-map{
   padding: 7px;
   border: 1px solid #aaaaaa;
   position: relative; 
   outline: none;  
}
.drowdown-position-map select{
    border: 0;
    background: transparent;
    width: 100%;
    font-size: 16px;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.drowdown-position-map i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #021F54;
}

.Search-Rating-map{
    height: 25px;
    width: 130px;
    margin-left: 5px;
    border-radius: 3px;
}
.drowdown-Rating-map{
    padding: 7px;
    border: 1px solid #aaaaaa;
    position: relative; 
    outline: none; 

}
.drowdown-Rating-map select{
    border: 0;
    background: transparent;
    width: 100%;
    font-size: 16px;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.drowdown-Rating-map i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #021F54;

}

.Search-distance-map{
    height: 30px;
    width: 130px;
    margin-left: 5px;
    border-radius: 3px;
}
.drowdown-distance-map{
    padding: 7px;
    border: 1px solid #aaaaaa;
    position: relative; 
    outline: none;
}
.drowdown-distance-map select{
    border: 0;
    background: transparent;
    width: 100%;
    font-size: 16px;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.drowdown-distance-map i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #021F54;
}
.Search-Arrange-map{
    height: 30px;
    width: 135px;
    margin-left: 2px;
    color: #021F54;
}
.Search-Arrange-Tool{
    height: 30px;
    width: 230px;
    margin-top: 10px;
    color: #021F54;
}
.drowdown-Arrange-map{
    padding: 7px;
    border: 1px solid #aaaaaa;
    position: relative; 
    outline: none ;
}
.drowdown-Arrange-map select{
    border: 0;
    background: transparent;
    width: 100%;
    font-size: 16px;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; 
}
.drowdown-Arrange-map i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #021F54;
}
.Gride-ToolSearch{
    display: grid;
    grid-template-columns: 430px 1fr; 
    margin-left: 10px;
    margin-top: -10px;
    margin-right: -15px;
    height: 600px;
}
.item{
    margin-top: -500px;
    max-height: 800px;
    max-width: 425px;
    display: grid;
    overflow: scroll;
}
.item::-webkit-scrollbar{
width: 2px;
background: #dddddd;
}
.item::-webkit-scrollbar-thumb{
background-color: #021F54;
}
.iteam-Gride{
    display: grid;
    grid-template-columns: auto auto;
}
.iteam-img{
    display: grid;
    grid-template-columns: auto;
    width: 150;
}
.Nameproduct{
    display: grid;
    grid-template-columns: auto;
    color: #021F54;
    font-size: 16px;
}
.NameSell{
    display: grid;
    grid-template-columns: auto;
    color: black;
    font-size: 12px;
}
.Nameposition{
    display: grid;
    grid-template-columns: auto;
    color: black;
    font-size: 12px;  
}
.TimeOpen{
    display: grid;
    grid-template-columns: auto;
    color: black;
    font-size: 12px; 
}
.NumberPhone{
    display: grid;
    grid-template-columns: auto;
    color: black;
    font-size: 12px; 
}
.RetingSeller{
    display: grid;
    grid-template-columns: auto;
    color: black;
    font-size: 12px;  
}
.Condition{
    display: grid;
    grid-template-columns: 130px;
    color: black;
    font-size: 12px;
}
.PiceProduct-show{
    display: grid;
    grid-template-columns: auto;
    justify-items: right;
    color: #D68227;
    
}
.PiceProduct{
    display: grid;
    grid-template-columns: auto;
    justify-items: right;
    color: black;
    font-size: 14px;
    margin-top: -15px;
}
.Position-Seller{
    background: #021F54;
    color:white;
    border: 1px;
    border-radius: 5px;
    font-size: 12px;
    width: 100px;
    height: 18px;
}
.Descritin-Product{
    background: #E1A35F;
    color:white;
    border: 1px;
    border-radius: 5px;
    font-size: 12px;
    width: 100px;
    height: 18px;
}
.item1 p{
    font-size: 8px;
}
.tool-map-search{
    display: grid;
    grid-template-columns: 655px 1fr;
    width: 80%;
    height: 600px;
}
.Gride-tool-Gride{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    justify-items: left;
    max-width: 400px;
    max-height: 100px;
}
.Tool-dropdown-Condition{
    height: 40px;
    width: 130px;
    max-width: 130px;
    margin-left: 5px;
    border-radius: 3px; 
}
.drowdown-Condition-map{
    padding: 7px;
    border: 1px solid #aaaaaa;
    position: relative; 
    outline: none ;
}
.drowdown-Condition-map select{
    border: 0;
    background: transparent;
    width: 100%;
    font-size: 16px;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; 
}
.drowdown-Condition-map i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #021F54;  
}
.dropdown-ฺband{
    height: 40px;
    width: 130px;
    max-width: 130px;
    margin-left: 5px;
    border-radius: 3px;  
}
.drowdown-ฺband-map{
    padding: 7px;
    border: 1px solid #aaaaaa;
    position: relative; 
    outline: none ;
}
.drowdown-ฺband-map select{
    border: 0;
    background: transparent;
    width: 100%;
    font-size: 16px;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; 
}

.drowdown-ฺband-map i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #021F54;
}
.dropdown-ฺType{
    height: 40px;
    width: 130px;
    max-width: 130px;
    margin-left: 5px;
    border-radius: 3px;  
}
.drowdown-ฺฺType-map{
    padding: 7px;
    border: 1px solid #aaaaaa;
    position: relative; 
    outline: none ;
}
.drowdown-ฺฺType-map select{
    border: 0;
    background: transparent;
    width: 100%;
    font-size: 16px;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.drowdown-ฺฺType-map i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #021F54; 
}
.dropdown-ฺGender{   
    height: 40px;
    width: 130px;
    max-width: 130px;
    margin-left: 5px;
    margin: 5px;
    border-radius: 3px;
}
.drowdown-ฺฺฺGender-map{
    padding: 7px;
    border: 1px solid #aaaaaa;
    position: relative; 
    outline: none ;
}
.drowdown-ฺฺฺGender-map select{
    border: 0;
    background: transparent;
    width: 100%;
    font-size: 16px;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}
.drowdown-ฺฺฺGender-map i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #021F54; 
}
.dropdown-ฺMinPice{
    height: 40px;
    width: 130px;
    max-width: 130px;
    margin-left: 5px;
    margin: 5px;
    border-radius: 3px; 
}
.textMinPice-map{
    height: 40px;
    width: 130px;
}
.dropdown-ฺMaxPice{
    height: 40px;
    width: 130px;
    max-width: 130px;
    margin-left: 5px;
    margin: 5px;
    border-radius: 3px;
}
.searMaxPice-map{
    height: 40px;
    width: 130px;
}
.img-product-map{
    width: 140px;
    height: 140px;
}

.Gride-Product-Home{
    display: grid;
    grid-template-columns: repeat(4,1fr); 
}
.img-product-onehands{
    width: 280px;
    height: 270px
}
.slider-box{
    width: 280px;
    height: 345px;
    position: relative;
    background-color: #FFFFFF;
    border: 5px;
    display: flex;
    flex-direction: column;
    border: 1px;
    background: #F3F0F0;;
}
.slider-box-band{
    width: 280px;
    height: 270px;
    position: relative;
    background-color: #FFFFFF;
    border: 5px;
    display: flex;
    flex-direction: column;
    border: 1px;
    background: #F3F0F0;; 
}
.swiper-container {
    margin-top: 30px;
    width: 100%;
    height: 100%;
  }
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    max-width: 280px;
    max-height: 345px;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.PiceProduct-slider{
    text-align: center;
    color: black;
    font-size: 18px;
    margin-right: 20px;
 }
.img-Bands{
    width: 280px;
    height: 270px;
 }
 .Bands{
    width: 280px;
    height: 270px;
    margin-left: 30px;
    background: #aaaaaa;
    color: #aaaaaa;
    background-color: #aaaaaa;
 }

 .Gride-tool{
    display: grid;
    grid-template-columns: 250px 1fr;
    margin-left: 5px;
    margin-top: 30px;
    height: 1800px;

 }
 .Search-position-Tool{
    height: 30px;
    width: 250px;
    margin-left: 15px;
    margin-top: 5px;
    border-radius: 3px;
 }
 .drowdown-position-Tool{
    padding: 7px;
    border: 1px solid #aaaaaa;
    position: relative; 
    outline: none;  
 }
 .drowdown-position-Tool select{
     border: 0;
     background: transparent;
     width: 100%;
     font-size: 16px;
     outline: none;
     appearance: none;
     -moz-appearance: none;
     -webkit-appearance: none;
 }
 .drowdown-position-Tool i{
     position: absolute;
     right: 10px;
     top: 50%;
     transform: translateY(-50%);
     color: #021F54;
 }

 .Search-Tool{
    height: 30px;
    width: 250px;
    margin-left: 15px;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    color: #021F54;
 }
 .drowdown-Search-Tool{
   padding: 7px;
   border: 1px solid #021F54;
   position: relative; 
   outline: none; 
 }
 .drowdown-Search-Tool select{
     border: 0;
     background: transparent;
     width: 100%;
     font-size: 16px;
     outline: none;
     appearance: none;
     -moz-appearance: none;
     -webkit-appearance: none;
 }
 .drowdown-Search-Tool i{
     position: absolute;
     right: 10px;
     top: 50%;
     transform: translateY(-50%);
     color: #021F54;
     
 }


.dropdown-button{
    border-left: 5px solid #021F54;
    padding-left: 15px;
    background-color: white;
    color: #021F54;
    height: 30px;
    width: 250px;
    margin-top: 20px;
}
.Search-position-button-map{
    margin-top: 10px;
    width: 216px;
    height: 216px;
    background: white;
    border-style: solid;
    border-color: white;
}
.Search-position-button-map i{
    color: #021F54;
    width: 216px;
    height: 216px;
    font-size: 150px;
}
.Search-Map{
    max-width: 250px;
    max-height: 2000;
}
.item-Newbands-gride{
    display: grid;
    grid-template-columns: repeat(3,1fr); 
    justify-items: left;
    max-width: 300px;
    max-height: 350px; 
}
.bands-gride{
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    justify-items: left;
    max-width: 300px;
    max-height: 350px; 
}
.item-show{
    margin-left: 5px; 
    margin-top: 10px; 
}

.Search-map-tool{
    height: 30px;
    width: 230px;
    margin-top: 15px;
    color: #021F54; 
}
.Search-Rating-map-tool{
    height: 30px;
    width: 110px;
    margin-top: 15px;
    color: #021F54;
}
.Search-distance-map-tool{
    height: 30px;
    width: 105px;
    margin-top: 15px;
    margin-left: 1px;
    color: #021F54;
}
.Search-tetle{
    border-left: 5px solid #021F54;
    padding-left: 15px;
    background-color: white;
    color: #021F54;
    height: 30px;
    width: 250px;
    margin-top: 15px;
}
.Search-Map-tetle{
    border-left: 5px solid #021F54;
    padding-left: 15px;
    background-color: white;
    color: #021F54;
    height: 30px;
    width: 250px;
    margin-top: 15px;
    
}
.Search-status-Tool{
    height: 100px;
    width: 230px;
    margin-top: 10px;
    color: #021F54;
}
.Search-band-Tool{
    margin-top: 10px;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    color: #021F54;
}
.Search-type-Tool{
    margin-top: 50px;
    height: 100px;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    color: #021F54;
}

.Search-sex-Tool{
    margin-top: 300px;
    height: 100px;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    color: #021F54;
}

.gride-pice{
    display: grid;
    grid-template-columns: repeat(2,1fr);   
}
.Search-pice-tool{
    border-left: 5px solid #021F54;
    padding-left: 15px;
    background-color: white;
    color: #021F54;
    height: 30px;
    width: 250px;
    margin-top: 20px;
}
.dropdown-ฺMinPice-Tool{
    color: #021F54;
    margin-left: 10px;
    margin-top:  5px;
    flood-color:  #021F54;
}
.textMinPice-map{
    width: 80px;
    height: 35px;
    flood-color:  #021F54;
}
.dropdown-ฺMaxPice-Tool{
    color: #021F54;
    margin-left: 10px;
    margin-top:  5px;
    flood-color:  #021F54;
}
.searMaxPice-map{
    width: 80px;
    height: 35px;
    flood-color:  #021F54; 
}
.tele-name-seller{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;

}
.Gride-product{
    display: grid;
    grid-template-columns: 700px  500px;
}
.Content-left{
    margin-top: 30px;
    margin-left: 30px;
}
.Content-right{
    margin-left:-50px;
}
.button-Seller{
    display: grid;
    grid-template-columns: 135px 400px 50px;
    width: 585px;
    height: 145px;
    background-color: white;
    border: 1px solid #021F54;
    margin-top: 15px;
}
.content-sell-img{
    margin-left: 15px;
    margin-top: 5px;
}
.Seller-img{
    width: 118px;
    height: 125px
}
.content-sell-text{
    display: grid;
    grid-template-columns:400px ;
    justify-items: left;
    margin-left: 15px;
    margin-top: 5px;
}
.Date-Seller{
    font-family: Roboto;
    font-size: 18px;
    color: #000000;

}
.content-sell-icon{
    margin-top: 50px;
    color:#021F54;
    font-size: 40px;
}
.slider-product-show{
    width: 600px;
    height: 750px;
    margin-top: 30px;
}
.img-product-show{
    display: flex;
    width: 100%;
}
.img-product-show img{
    width: 584px;
    height: 584px;
    transition: all 0.15s ease;
}
.img-product-show input{
    display: none;
}
.dots{
    display: flex;
    justify-content: center;
    margin: 5px;
} 
.dots label{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #021F54 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover{
    background: #021F54;
}
#img1:checked ~ .m1{
    margin-left: 0;
}
#img2:checked ~ .m2{
    margin-left: -100%;
}
#img3:checked ~ .m3{
    margin-left: -200%;
}
#img4:checked ~ .m4{
    margin-left: -300%;
}
#img5:checked ~ .m5{
    margin-left: -400%;
}
#img6:checked ~ .m6{
    margin-left: -500%;
}
.m1{
    width: 584px;
    height: 584px;
}
.like-view{
    display: grid;
    grid-template-columns:auto auto auto; 
    margin-left: 30px;
}
.like{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

color: #021F54;
}
.view{
margin-left: 100px;
font-family: Roboto;
margin-top: 7px;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #021F54;
}

.tele-name-product{
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;

color: #000000;
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto;
}
.tele-type-product{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    
    
    color: #000000;
    margin-top: 5px;
}
.tele-status-product{
    margin-left: 100px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-top: 5px;
}
.tele-price-product{
    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    margin-left: 100px;
    color: #000000;
    margin-top: 5px;
}
.tele-band-product{
    font-family: Roboto;
    font-style: normal;
    font-size: 18px;
    line-height: 20px;

    color: #000000;
    margin-top: 5px; 
}
.tele-siae-product{
    display: grid;
    grid-template-columns: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
    
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    color: #021F54;
    width: 410px;
}
.gride-lable-sizq{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 15px; 
    max-width: 440px;
}
.tele-size-product{
    width: 75px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px; 
    text-align: center;
    line-height: 90%;
}
.tele-product{
    padding: 10px;
    width: 450px;
    height: 200px; 
    text-align: justify;
}
.tele-conten-product{
    display: grid;
    grid-template-columns: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
    margin-top: 20px;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    color: #021F54;
    width: 450px; 
}
.tele-scrip-product{
    display: grid;
    grid-template-columns: auto;
    margin-top: 30px;
    max-width: 450px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    color: #000000;
    line-height: 120%;
}
.tele-contact-product{
    display: grid;
    grid-template-columns: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
    margin-top: 20px;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    color: #021F54;
    width: 450px; 
}
.facebook{
    color:#021F54;
    font-size: 30px; 
}
.facebook a{
    color:#021F54;
    font-size: 24px; 
}
.facebook a:link{
    text-decoration: none
}
.tele-facebook-product{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.ig{
    color:#aa2530;
    font-size: 30px; 
}
.ig a{
    color:#aa2530;
    font-size: 24px; 
}
.ig a:link{
    text-decoration: none
}
.tele-ig-product{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.line{
    color:#65aa25;
    font-size: 30px; 
}
.line a{
    color:#65aa25;
    font-size: 24px; 
}
.line a:link{
    text-decoration: none
}
.tele-line-product{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}
.tele-about-product{
    display: grid;
    grid-template-columns: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
    margin-top: 20px;
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    color: #021F54;
    width: 450px; 
}
.edit-product{
    color: #021F54;
    font-size: 25px; 
    margin-top: 10px;
}
.tele-edit-product{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
.date-product{
    color: #021F54;
    font-size: 25px; 
    margin-top: 10px;
}
.tele-edit-product{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    
}
.address-product{
    color: #021F54;
    font-size: 25px; 
    margin-top: 10px;
}
.tele-edit-product{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}
.repoet-product{
    color: #021F54;
    font-size: 25px; 
    width: 200px;
    height: 35px;
    border: none;
    background-color: #fff;
}
.tele-repost-product{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.button-like{
    color: #021F54;
    font-size: 25px; 
    width: 200px;
    height: 35px;
    border: none;
    background-color: #fff;
}




/*########################################################################*/
.review-product{
    margin-top: 20px;
    margin-left: 30px;
}
.gried-review{
    display: grid;
    grid-template-columns: auto auto auto auto auto;  
}
.tele-rexiew{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

    color: #021F54;

}
.list-post{
    display: grid;
    grid-template-columns: auto auto;
}

.tele-list-post{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

    color: #000000; 
}
.drowdown-point-review{
    width: 100px;
    height: 40px;
    padding: 7px;
    margin-left: -50px;
    margin-top: -4px;
    border: none;
    position: relative; 
    outline: none ;
}
.drowdown-point-review select{
    border: 0;
    background: transparent;
    width: 100%;
    font-size: 16px;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; 
}
.drowdown-point-review i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
}
.list-star{
    display: grid;
    grid-template-columns: auto auto;
}
.select-point-review{
    width: 120px;
    height: 40px;
    padding: 7px;
    margin-left: -50px;
    margin-top: -4px;
    border: none;
    position: relative; 
    outline: none ; 
}
.select-point-review select{
    border: 0;
    width: 100%;
    font-size: 16px;
}
.overSelect{
    position: absolute;
    left: 0;right: 0;top: 0; bottom: 0;
}
#reviewcountpoint{
    position: relative; 
    display: none;
    height: 0px;
}
#reviewcountpoint label{
    display: block;
    margin-left:-33px; 
    margin-top: -10px;
    height: 30px;
    color: #000000;
    background: white;
}
#checkboxCondition{ 
    display: none;
    background: transparent;
    background-color: white;
    border: 1px solid #aaaaaa;
    color: #000000;
    opacity: 1.0;
    position: relative; 
    outline: none ;
    height: 50px;
    margin-top: -90px;
}
#checkboxCondition label{
    display: block;
    border: 0;
    background: transparent;
    background-color: white;
    color: #000000;
    opacity: 1.0;
    width: 100%;
    height: 10px;
    font-size: 16px;
}
#checkboxฺband{ 
    display: none;
    background: transparent;
    background-color: white;
    border: 1px solid #aaaaaa;
    color: #000000;
    opacity: 1.0;
    position: relative; 
    outline: none ;
    height: 100px;
}
#checkboxฺband label{
    display: block;
    border: 0;
    background: transparent;
    background-color: white;
    color: #000000;
    opacity: 1.0;
    width: 100%;
    height: 10px;
    font-size: 16px;
}
#checkboxฺprdtype{ 
    display: none;
    background: transparent;
    background-color: white;
    border: 1px solid #aaaaaa;
    color: #000000;
    opacity: 1.0;
    position: relative; 
    outline: none ;
    height: 100px;
}
#checkboxฺprdtype label{
    display: block;
    border: 0;
    background: transparent;
    background-color: white;
    color: #000000;
    opacity: 1.0;
    width: 100%;
    height: 10px;
    font-size: 16px;
}
#checkboxฺprdฺฺฺGender{ 
    display: none;
    background: transparent;
    background-color: white;
    border: 1px solid #aaaaaa;
    color: #000000;
    opacity: 1.0;
    position: relative; 
    outline: none ;
    height: 60px;
}
#checkboxฺprdฺฺฺGender label{
    display: block;
    border: 0;
    background: transparent;
    background-color: white;
    color: #000000;
    opacity: 1.0;
    width: 100%;
    height: 10px;
    font-size: 16px;
}
.tele-lit-star{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

    color: #000000; 
}
.drowdown-point-review{
    width: 100px;
    height: 40px;
    padding: 7px;
    margin-left: -50px;
    margin-top: -4px;
    border: none;
    position: relative; 
    outline: none ;
}
.drowdown-point-review select{
    border: 0;
    background: transparent;
    width: 100%;
    font-size: 16px;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none; 
}
.drowdown-point-review i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000;
}
.button-write-post{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

    color: #000000; 
    border: none;
    background-color: #fff;
    width: 200px;
    height: 30px;
}
.line-comment{
    width: auto;
    margin-top: 30px;
    border-width: 0 0 2px 0;
    border-style: none none solid none;
    color: #021F54;
}
 
/*#########################################*/
 .gride-commnet{
    display: grid;
    grid-template-columns: auto; 
    margin-left: 30px;
 }
 .countstar-date-post-cmment{
    display: grid;
    grid-template-columns: auto auto; 
 }
 .NameCus-RepostPost{
    display: grid;
    grid-template-columns: auto auto;
 }
 .content-comment{
     margin-top: 10px;
     font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;

    color: #000000;
    max-width: 900px;
 }
 .Date-post{
    font-size: 16px; 
 }
 .comment{
    max-height: 800px;
    max-width: 1150px;
    display: grid;
    grid-template-columns: auto; 
    overflow: scroll;
 }
 
 
 
 /*###############################################################################*/
 .bar-profile{
    margin-top: 30px;
    width: 100%;
    height: 50px;
    background: #021F54; 
 }
 .button-profile-product{
    height: 50px;
    width: 150px;    
    border-width: 0 1px 0 0;
    border-style: none solid none none;
    border-color: #FFFFFF;
    background-color: #021F54;
    color:#FFFFFF;
 }
 .button-profile-like-product{
    height: 50px;
    width: 150px;    
    border-width: 0 1px 0 0;
    border-style: none solid none none;
    border-color: #FFFFFF;
    background-color: #021F54;
    color:#FFFFFF;
 }
 .gried-content-profile-bar{
    display: grid;
    grid-template-columns: 450px 660px;
 }
 .gried-content-profile-Market-bar{
    display: grid;
    grid-template-columns: 450px 660px;
 }
 .left-bar-profile{
    display: grid;
    grid-template-columns: 150px 300px;
    margin-top: 10px;
 }
 .profile-sell-text{
    display: grid;
    grid-template-columns: auto;
    
    border-width: 0 1px 0 0;
    border-style: none solid none none;
    border-color: #021F54;
 }
 .right-bar-profile{
     margin-left: 30px;
     margin-top: 10px;
 }
 .gried-bar-ratting{
    display: grid;
    grid-template-columns: auto auto; 
 }
 .gried-bar-contect{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
 }
 .gried-button-bar-profile{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10px;
    margin-top: 40px;
 }
 .button-add-product{
    border: none;
    width: 100px;
    height: 25px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    border-radius: 10%;

   text-align: center;

   color: #FFFFFF;
   background-color: #D68227;
 }
 .button-edit-product{
    border: none;
    width: 200px;
    height: 25px;
    font-family: Roboto;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   border-radius: 20%;
   text-align: center;
   color: #021F54;
   background-color: #FFFFFF; 
 }
 .button-edit-profile{
     border: none;
     width: 200px;
     height: 25px;
     font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    

    text-align: center;

    color: #D68227;
    background-color: #FFFFFF;
 }
 .bar-facebook-profile{
    color:#021F54;
    font-size: 30px; 
 }
 .bar-ig-profile{
    color:#aa2530;
    font-size: 30px;  
 }
 .bar-line-peofile{
    color:#65aa25;
    font-size: 30px;
 } 
 .line-bar-profile{
    margin-top: 10px;
    width: 100%;
    
   
    border-width: 0 0 1px 0;
    border-style: none none solid none;
    color: #021F54;

 }
.gried-profile-product{
    display: grid;
    grid-template-columns: repeat(4,1fr); 
    justify-items: left;
    max-width: 300px;
    max-height: 350px;
}
.container-regiter{
    max-width: 380px;
    width: 100%;
    margin: 0 auto; 
}
.add-product{
    margin-left: 5px;
    margin-top: 10px;
    width: 280px;
    height: 275px;
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: auto;
    border-color: #021F54;
    color: #021F54;
 }
 .add-product i{
    font-size: 60px; 
    max-height: 200px;
    margin-top: 100px;
    color: #021F54;
 }
 .text-add-product{
    color: #021F54;
 }
 .gried-edit-pice{
    display: grid;
    grid-template-columns: 150px 125px;  
 }
.button-edit-product{
    border: none;
    width: 150px;
}
.text-edit-product{
    font-size: 12px;
}
.box-regiter{
    width: 380px;
    height: 600px;
    margin-top: 50px;
    background: #FFFFFF;
    border: 1px solid #021F54;
    box-sizing: border-box;
    border-radius: 19px;
}
.text-regiter{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #000000;
    
    margin-left: 20px;
    margin-top: 50px;
}
.textbox-mail{
   margin-left: 30px;
   margin-top: 20px;
}
.textbox-mail-regiter{
    width: 310px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.textbox-password{
    margin-left: 30px;
    margin-top: 20px;
}
.textbox-password-regiter{
    width: 310px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box; 
}
.textbox-Name{
    margin-left: 30px;
    margin-top: 20px;
}
.textbox-Name-regiter{
    width: 310px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box; 
}
.textbox-surname{
    margin-left: 30px;
    margin-top: 20px;
}
.textbox-surname-regiter{
    width: 310px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.textbox-numphone{
    margin-left: 30px;
    margin-top: 20px;    
}
.textbox-numphone-regiter{
    width: 310px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.textbox-nationality{
    padding: 7px;
    border: 1px solid #999999;
    position: relative; 
    outline: none;
    width: 310px;
    height: 35px;
    margin-left: 30px;
    margin-top: 20px;
}
.textbox-nationality select{
    border: 0;
    background: transparent;
    width: 300px;
    font-size: 16px;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    color: #999999;
    flood-color: #999999;
}
.textbox-nationality i{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999999;
}
.Male-female{
    margin-left: 30px;
    margin-top: 20px;
}
.Application-conditions{
    margin-left: 30px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 20px auto;
}
.radio-Application-conditions{
    margin-top: 7px;
}
.accept-regiter{
    margin-left: 30px;
    margin-top: 50px;
    width: 310px;
    height: 40px;
    flood-color: #FFFFFF;
    color: #FFFFFF;
    background: #E1A35F;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}
.text-male{
    flood-color: #999999;
    color: #999999;
}

/*###########################################################################*/
.container-longin{
    max-width: 380px;
    width: 100%;
    margin: 0 auto; 
}
.box-longin{
    margin-top: 40px;
    width: 380px;
    height: 380px;
    background: #FFFFFF;
    border: 1px solid #021F54;
    box-sizing: border-box;
    border-radius: 19px;
}
.text-longin{
    font-family: Red Hat Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
    
    margin-left: 30px;


}
.gried-register-forgotten{
    margin-left: 150px;
    margin-right: 20px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto; 
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #C4C4C4;
}
.bt-longin{
    margin-left: 30px;
    margin-top: 30px;
    width: 310px;
    height: 35px;
    background: #D68227;
    border: none;
    color: #ffff;
}
.gried-bt-facebook-google{
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 30px;
    margin-right: 30px; 
    margin-top: 10px;
}
.bt-longin-facebook{
    background: #1877F2;
    border: 1px solid #1877F2;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    max-width: 155px;
}
.bt-longin-google{
    margin-left: 2px;
    margin-right: 8px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
    max-width: 155px;
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: #757373;
}
.text-register{
    border: none;
    background-color: #FFFFFF;
}
.text-forgotten{
    border: none;
    background-color: #FFFFFF;
}


/*##############################################################################################################################################################*/
.Greid-register-market{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
    margin-left: 30px;
}
.tele-register-market{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.tele-add-img-market{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;

}
.add-img-market{
    display: grid;
    grid-template-columns: auto;
    width: 538px;
    height: 340px;
    background: #FFFFFF;
    border: 1px solid #021F54;
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 200px;
}

.tele-add-img{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #999999;
    margin-top: -50px;

}
.tele-add-contact-market{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.add-contact-market{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
}
.add-contact-market-facebook{
    width: 245px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
    margin-top: 10px;
}
.add-contact-market-ig{
    width: 245px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    margin-top: 10px;
    box-sizing: border-box;
}
.add-contact-market-LineID{
    width: 245px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    margin-top: 10px;
    box-sizing: border-box;
}
.tele-add-timeOpen-market{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.add-timeOpen-market{
    display: grid;
    grid-template-columns: 150px 150px;
    margin-top: 20px;
}

.drowdown-timeOpen{
    padding: 7px;
    position: relative; 
    outline: none; 
    width: 115px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.drowdown-timeOpen select{
      border: 0;
      background: transparent;
      width: 100%;
      font-size: 16px;
      outline: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
  }
.drowdown-timeOpen i{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #999999;
      
}

.drowdown-timeClose{
    padding: 7px;
    position: relative; 
    outline: none; 
    width: 115px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.drowdown-timeClose select{
      border: 0;
      background: transparent;
      width: 100%;
      font-size: 16px;
      outline: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
  }
.drowdown-timeClose i{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #999999;
      
}
.Application-conditions-market{
    margin-top: 20px;
}
.accept-regiter-merket{
    margin-top: 10px;
    width: 150px;
    height: 35px;
    background: #021F54;
    border: 1px solid #999999;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    text-align: center;

    color: #FFFFFF;
}
.cancle-regiter-merket{
    margin-top: 10px;
    width: 150px;
    height: 35px;
    background: #E1A35F;
    border: 1px solid #999999;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}
.Gride-left-register-market{
    margin-left: 20px;
    margin-top: 40px;
}
.tele-add-Name-market{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.textbox-add-name-market{
    margin-top: 10px;
    width: 506px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.tele-add-IDcade-market{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.textbox-add-IDcade-market{
    margin-top: 10px;
    width: 506px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.tele-add-contact-phone-market{
    display: grid;
    grid-template-columns: auto;
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.textbox-add-contact-phone-market{
    margin-top: 10px;
    width: 245px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.tele-add-addaress-market{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.gried-addaress-maket{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 10px;
}
.textbox-add-addaress-market{
    width: 245px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.textbox-add-canton-market{
    width: 250px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.textbox-add-district-market{
    margin-top: 20px;
    width: 245px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}

.drowdown-add-city{
    padding: 7px;
    margin-top: 20px;
    position: relative; 
    outline: none; 
    width: 250px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.drowdown-add-city select{
      border: 0;
      background: transparent;
      width: 100%;
      font-size: 16px;
      outline: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
      color: #999999;
  }
.drowdown-add-city i{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #999999;
}
.textbox-add-Postal-code-market{
    margin-top: 20px;
    width: 245px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}

.textbox-add-Latitude-market{
    margin-top: 20px;
    width: 200px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}

.textbox-add-longitude-market{
    margin-top: 20px;
    width: 200px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}


.Latitude-longitude-market{
    margin-top: 30px;
    color: #999999;
}

.tele-Latitude-longitude-market{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #999999;

}

/*#################################################################################*/
.Greid-register-product{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 30px;
    margin-left: 30px;
}
.tele-register-product{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.add-img-product{
    display: grid;
    grid-template-columns: auto auto;
    width: 585px;
    height: 475px;
    max-height: 475px;
    background: #FFFFFF;
    border: 1px solid #021F54;
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 200px;
}

.tele-add-img{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #999999;
    margin-top: -50px;
}
.Gride-left-register-product{
    margin-left: 20px;
}
.tele-add-Name-product{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000;
}
.textbox-add-name-product{
    margin-top: 20px;
    width: 474px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.tele-add-band-product{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000; 
}
.drowdown-ฺband-product{
    padding: 7px;
    position: relative; 
    outline: none; 
    width: 275px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.drowdown-ฺband-product select{
      border: 0;
      background: transparent;
      width: 100%;
      font-size: 16px;
      outline: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
  }
.drowdown-ฺband-product i{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #999999;
      
}
.gried-Type-Condition-pice-gender{
    display: grid;
    grid-template-columns: auto auto; 
}
.tele-add-Type-product{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000; 
}
.drowdown-ฺType-product{
    padding: 7px;
    position: relative; 
    outline: none; 
    width: 275px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.drowdown-ฺType-product select{
      border: 0;
      background: transparent;
      width: 100%;
      font-size: 16px;
      outline: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
  }
.drowdown-ฺType-product i{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #999999;
      
}
.tele-add-Condition-product{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000; 
}
.drowdown-Condition-product{
    padding: 7px;
    position: relative; 
    outline: none; 
    width: 175px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.drowdown-Condition-product select{
      border: 0;
      background: transparent;
      width: 100%;
      font-size: 16px;
      outline: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
  }
.drowdown-Condition-product i{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #999999;
      
}
.tele-add-pice-product{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000; 
}
.textbox-pice-product{
    width: 275px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.tele-add-gender-product{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000; 
}
.drowdown-ฺgender-product{
    padding: 7px;
    position: relative; 
    outline: none; 
    width: 175px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.drowdown-ฺgender-product select{
      border: 0;
      background: transparent;
      width: 100%;
      font-size: 16px;
      outline: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
  }
.drowdown-ฺgender-product i{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #999999;
      
}
.tele-add-site-product{
    margin-top: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000; 
}
.gride-lable-site-product{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    margin-top: 15px; 
    max-width: 440px;
}
.tele-site-product{
    width: 75px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 10px; 
    text-align: center;
    line-height: 90%;
}
.tele-add-scrip-product{
    margin-left: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;

    color: #000000; 
}
.textbox-add-scrip-product{
    margin-left: 30px;
    margin-top: 10px;
    width: 1155px;
    height: 225px;
    background: #FFFFFF;
    border: 1px solid #999999;
    box-sizing: border-box;
}
.Application-conditions-product{
    margin-left: 30px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 20px auto;
}
.accept-regiter-product{
    margin-top: 10px;
    margin-left: 30px;
    width: 150px;
    height: 35px;
    background: #021F54;
    border: 1px solid #999999;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    text-align: center;

    color: #FFFFFF;
}
.cancle-regiter-product{
    margin-top: 10px;
    margin-left: 30px;
    width: 150px;
    height: 35px;
    background: #E1A35F;
    border: 1px solid #999999;
    box-sizing: border-box;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}
.error{
    margin-left: 30px;
    width: 310px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #aa2530;
    box-sizing: border-box;
}

.Show_name{
    margin-top: 20px;
    margin-left: 30px;
    width: 310px;
    height: 35px;
    background: #FFFFFF;
    border: 1px solid #65aa25;
    box-sizing: border-box;

}
.box_User_login{
    margin-top: 40px;
    width: 380px;
    height: 120px;
    background: #FFFFFF;
    border: 1px solid #021F54;
    box-sizing: border-box;
    border-radius: 19px;

}
.line-item{
    display: grid;
    grid-template-columns: auto;
    height: 3px;
    background: #021F54; 
}
.drowdown-Status-Tool{
    padding: 7px;
   border: 1px solid #021F54;
   position: relative; 
   outline: none;
}

.drowdown-Status-Tool{
    padding: 7px;
    border: 1px solid #021F54;
    position: relative; 
    outline: none; 
  }
.drowdown-Status-Tool select{
      border: 0;
      background: transparent;
      width: 100%;
      font-size: 16px;
      outline: none;
      appearance: none;
      -moz-appearance: none;
      -webkit-appearance: none;
  }
.drowdown-Status-Tool i{
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #021F54;
      
}
.Footter{
    background:  #021F54;
    flex-shrink: 0;
    width: 100%;
    height: 200px;
}
.body{
    min-height: 1700px;
}
.profile-product{
    width: 100%;
    height: 1500px;
    max-height: 1500px;
}
.Show-product{
    width: 100%;
    height: 1900px;
    max-height: 1800px;
}
#featured{
	max-width: 500px;
	max-height: 600px;
	object-fit: cover;
	cursor: pointer;
	border: 2px solid black;

}

.thumbnail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 2px solid black;

}

.thumbnail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper{
	max-width: 500px;
	display: flex;
	min-height: 50px;
	align-items: center;
}

#slider{
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

}

#slider::-webkit-scrollbar {
		width: 8px;

}

#slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}
 
#slider::-webkit-scrollbar-thumb {
  background-color:  #021F54;
  outline: 1px solid  #FFFFFF;
   border-radius: 100px;

}

#slider::-webkit-scrollbar-thumb:hover{
    background-color: #18b5ce;
}

.arrow{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

.arrow:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
}